default-lease-time 600;
max-lease-time 2592000;

subnet {{ wifi_net | ipaddr('network') }} netmask {{ wifi_net | ipaddr('netmask') }} {
  range {{ wifi_net | ipaddr('10') | ipaddr('address') }} {{ wifi_net | ipaddr('-2') | ipaddr('address') }};
  option subnet-mask 255.255.255.0;
  option broadcast-address {{ wifi_net | ipaddr('-1') | ipaddr('address') }};
  option routers {{ wifi_gateway }};
  option domain-name-servers {{ wifi_gateway }};
  option domain-name "{{ domain }}";
}

use-host-decl-names on;

{% for host in wifi_hosts %}

host {{ host.name }} {
  hardware ethernet {{ host.mac }};
  fixed-address {{ host.ip4 }};
}
{% endfor %}
