{{ ansible_managed | comment }}

options {
	directory "/var/cache/bind";

	forwarders {
		{% for ns in nameservers %}
		{{ ns }};
		{% endfor %}
	};

	dnssec-validation auto;

	listen-on-v6 { any; };
};
